<!DOCTYPE html>
<html lang="en" style="height: 100%"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>Choose payment method : ZeeshanGhazanfar : PythonAnywhere</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Choose payment method : ZeeshanGhazanfar : PythonAnywhere">
        <meta name="author" content="PythonAnywhere LLP">
        <meta name="google-site-verification" content="O4UxDrfcHjC44jybs2vajc1GgRkTKCTRgVzeV6I9V14">


        <!-- Le styles -->
        <link rel="stylesheet" href="./static/selectMethos_files/css">

        <link rel="stylesheet" href="./static/selectMethos_files/output.93590726e867.css" type="text/css" media="screen">
        <link rel="stylesheet" href="./static/selectMethos_files/output.c184c0fc7128.css" type="text/css">

        

        
        
        

    </head>

     <body style="height:100%;" data-new-gr-c-s-check-loaded="14.1000.0" data-gr-ext-installed="">
       <div style="min-height: 100%; position: relative;">
        
  

        
  <nav class="navbar top-nav hidden-xs">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="https://www.pythonanywhere.com/user/ZeeshanGhazanfar/account/upgrade/payment_provider_choice/" class="feedback_link">Send feedback</a></li>
<li class=""><a href="https://www.pythonanywhere.com/forums/" class="forums_link">Forums</a></li>
<li class=""><a href="https://help.pythonanywhere.com/" class="help_link">Help</a></li>
<li class=""><a href="https://blog.pythonanywhere.com/" class="blog_link">Blog</a></li>

  
  <li class=""><a href="https://www.pythonanywhere.com/user/ZeeshanGhazanfar/account/" class="account_link">Account</a></li>
  <li class="">
    <form action="https://www.pythonanywhere.com/logout/" method="POST">
      <input type="hidden" name="csrfmiddlewaretoken" value="gIcfFL7VafagM0RHUzXu3JHrVeEmo8FJzfBK4L236Ms7sjMKJcfQm0sYhD7oeOM4">
      <button type="submit" class="btn-link logout_link">Log out</button>
    </form>
  </li>


      </ul>
    </div>
  </nav>

  




  <nav class="navbar primary-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://www.pythonanywhere.com/">
          <img id="id_logo" src="./static/selectMethos_files/PA-logo.svg" width="225">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="nav navbar-nav navbar-right">
          
            
  <li class=""><a id="id_dashboard_link" href="https://www.pythonanywhere.com/user/ZeeshanGhazanfar/">Dashboard</a></li>
  <li class=""><a id="id_consoles_link" href="https://www.pythonanywhere.com/user/ZeeshanGhazanfar/consoles/">Consoles</a></li>
  <li class=""><a id="id_files_link" href="https://www.pythonanywhere.com/user/ZeeshanGhazanfar/files/home/ZeeshanGhazanfar">Files</a></li>
  <li class=""><a id="id_web_app_link" href="https://www.pythonanywhere.com/user/ZeeshanGhazanfar/webapps/">Web</a></li>
  <li class=""><a id="id_tasks_link" href="https://www.pythonanywhere.com/user/ZeeshanGhazanfar/tasks_tab/">Tasks</a></li>
  <li class=""><a id="id_databases_link" href="https://www.pythonanywhere.com/user/ZeeshanGhazanfar/databases/">Databases</a></li>


          
          <li class="visible-xs"><a href="https://www.pythonanywhere.com/user/ZeeshanGhazanfar/account/upgrade/payment_provider_choice/" class="feedback_link">Send feedback</a></li>
<li class="visible-xs"><a href="https://www.pythonanywhere.com/forums/" class="forums_link">Forums</a></li>
<li class="visible-xs"><a href="https://help.pythonanywhere.com/" class="help_link">Help</a></li>
<li class="visible-xs"><a href="https://blog.pythonanywhere.com/" class="blog_link">Blog</a></li>

  
  <li class="visible-xs"><a href="https://www.pythonanywhere.com/user/ZeeshanGhazanfar/account/" class="account_link">Account</a></li>
  <li class="visible-xs">
    <form action="https://www.pythonanywhere.com/logout/" method="POST">
      <input type="hidden" name="csrfmiddlewaretoken" value="gIcfFL7VafagM0RHUzXu3JHrVeEmo8FJzfBK4L236Ms7sjMKJcfQm0sYhD7oeOM4">
      <button type="submit" class="btn-link logout_link">Log out</button>
    </form>
  </li>


        </ul>
      </div>

    </div>
  </nav>

  <div class="container">
    

  </div>

  

    
      

      

      
    
  


        
  


        

  <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2>Set up monthly payments</h2>
            
              <p>
                You can choose to pay by credit card (MasterCard or Visa). In either
                case we will set up a subscription to charge you automatically each
                month on the same date as the original upgrade.
              </p>

              <p>
                Please note: users in Germany and India have experienced difficulties with Visa in
                the past. If in doubt, choose to pay by the other one...
              </p>
            
            
        </div>
      </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <form id="id_stripe_form" action="/addpaymentmethod" method="GET">
          <button id="id_stripe_button" class="stripe-button btn btn-success" type="submit">Pay by credit/debit card</button>
        </form>
      </div>

        </div>
      

    </div>
  </div>



        
  <div class="footer-spacer"></div>
  <footer id="id_copyright_div" class="footer">
    <p>
      Copyright © 2011-2021 <a href="https://www.pythonanywhere.com/about/company_details/">PythonAnywhere LLP</a>
      —
      <a href="https://www.pythonanywhere.com/terms/">Terms</a>
      —
      <a href="https://www.pythonanywhere.com/privacy/">Privacy &amp; Cookies</a><br>
      </p>
  </footer>

      </div>

        


        <div id="id_feedback_dialog" title="Help us improve" style="display:none">
    <div id="id_feedback_dialog_blurb_big" class="dialog_blurb_big">
        It's always a pleasure to hear from you!
    </div>
    <div id="id_feedback_dialog_blurb_small">
        Ask us a question, or tell us what you love or hate about PythonAnywhere.<br>
        We'll get back to you over email ASAP.
    </div>
    <textarea id="id_feedback_dialog_text" rows="6"></textarea>
    <input id="id_feedback_dialog_email_address" type="text" placeholder="Email address (optional - only necessary if you would like us to contact you)" style="display: none;">
    
    <div id="id_feedback_dialog_error" style="display: none">
        Sorry, there was an error connecting to the server. <br>Please try again in a few moments...
    </div>
    <div id="id_feedback_dialog_rate_limit_error" style="display: none">
        Sorry, we have had to rate-limit your feedback sending.<br>Please try again in a few moments...
    </div>
    <div id="id_feedback_dialog_success" style="display: none">
        Thanks for the feedback! Our tireless devs will get back to you soon.
    </div>
    <div class="dialog_buttons">
        <img id="id_feedback_dialog_spinner" src="./static/selectMethos_files/spinner-small.gif">
        <button class="btn btn-primary" id="id_feedback_dialog_ok_button">OK</button>
        <button class="btn btn-default" id="id_feedback_dialog_cancel_button">Cancel</button>
    </div>
    <div id="id_feedback_dialog_only_close_button" style="display: none">
        <button class="btn btn-primary" id="id_feedback_dialog_close_button">Close</button>
    </div>
</div>


        
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-18014859-6', 'auto');
                ga('send', 'pageview');
            </script>
        

        
        <!-- preload font awesome fonts to avoid glitch when switching icons -->
        <div style="width: 0; height: 0; overflow: hidden"><i class="fa fa-square-o fa-3x"></i></div>
    

</body></html>